name: Test osv
on: [push, pull_request]
jobs:
  Test-osv:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim_version: ['nightly', 'stable', 'v0.9.0', 'v0.10.0']
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - run: date +%F > todays-date
      - name: Restore cache for today's nightly
        uses: actions/cache@v2
        with:
          path: _neovim
          key: ${{ runner.os }}-x64-${{ hashFiles('todays-date') }}
      - name: Setup neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}
      - name: Prepare
        run: |
          mkdir -p ~/.local/share/nvim/site/pack/vendor/start
          git clone --depth 1 https://github.com/mfussenegger/nvim-dap ~/.local/share/nvim/site/pack/vendor/start/nvim-dap
          git clone --depth 1 https://github.com/jbyuki/one-small-step-for-vimkind ~/.local/share/nvim/site/pack/vendor/start/one-small-step-for-vimkind
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
      - name: Run tests
        run: |
          cp test/input.lua input.lua
          cat input.lua
          cat test/test.lua
          nvim --headless -c "luafile test/test.lua" -c "exit"
          echo "Done"
          cat result.txt
